body {
    height: 100vh;
    margin: 0;
    /* border: 1px solid black; */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 1px solid blue; */
}

/* game board */
section {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    background-color: rgb(0, 0, 79);
    color: rgb(248, 248, 199);
}

#play-again-container {
    display: flex;
    justify-content: center;
}

#play-again {
    width: 100px;
}

h1, h2, h3 {
    text-align: center;
}

#scores {
    display: flex;
    justify-content: space-evenly
}

#scores > div > div {
    text-align: center;
}

#choices {
    display: flex;
    justify-content: space-evenly;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    transition: background-color 500ms, color 100ms;
    background-color: transparent;
    color: rgb(248, 248, 199);
    border: 2px solid lightblue;
}

button:hover {
    cursor: pointer;
    background-color: lightblue;
    color: rgb(0, 0, 79);
}

img {
    width: 30px;
    border-radius: 10px;
    position: absolute;
    margin-left: 5px;
}

.hide {
    display: none !important;
}