input:required {
  border-left: 5px solid orange;
}
 
input:user-invalid {
  border-left: 5px solid red;
  background-color: #ffe0e0;
}
 
input:valid {
  border-left: 5px solid green;
}
 
input:focus:invalid {
  outline: none; /* Avoid double indication of error */
}
 
/* Styling error messages (often shown via JavaScript) */
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input {
    width: 60%;
}

form label, form button {
    margin-top: 10px;
}

button {
    width: 30%;
}