/* div {
    
}

div p {
    margin: 0;
    padding: 0;
}

.section.card {
    background-color: rgb(223, 223, 223);
    padding: 5px;
    padding-left: 20px;
    margin: 10px;
    margin-left: 2px;
    border-radius: 10px;
}

.card { 

}

#title {
    font-size: 30pt;
}

/* .subsection.card {
  color: red;
} */


/* CSS Project Requirements */

body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

h1 {
    font-family: cursive;
    text-align: center;
    color: rgb(158, 90, 90);
}

img {
    width: 250px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 30px;
}

h2 {
    font-family: fantasy;
    color: rgb(125, 51, 51);
}

#desc {
    border: 1px solid black;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px 20px 10px 20px;
}

.ingredients {
    margin: 20px;
    background-color: beige;
    padding: 10px 50px 10px 50px;
}

.ingredients li {
    color: rgb(209, 74, 56);
    list-style: none;
}

a {
    color: brown;
    text-decoration: none;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#more ul {
    list-style: none;
}

/* 

Use the descendant combinator to target the <ul> 
inside the #more-recipes div and remove the bullet 
points. 

*/